* {
	box-sizing: border-box;
}

/* html {
  background-image: url(https://i.pinimg.com/originals/65/0d/cf/650dcf45bdc5a496b828cc48cb9acda4.jpg);
  background-repeat: no-repeat;
  background-position: center center;
  background-attachment: fixed;
  -webkit-background-size: cover;
  -moz-background-size: cover;
  -o-background-size: cover;
  background-size: cover;
} */

body {
	margin: 0;
	background: linear-gradient(-45deg, rgba(216, 215, 215, 0.822), rgba(12, 11, 11, 0.829));
	font-family: 'Roboto' , sans-serif;
}

img {
	display:block;
}
.container {
	max-width: 1200px;
	margin: 0 auto;
	padding: 60px 15px;
}


@media (max-width: 1200px) {
	.container {
		width: 830px;
	}
	
}

@media (max-width: 829px) {
	.container {
		width: 600px;
	}
	
}


.row {
	display:flex;
	justify-content: space-between;
}


.main {
	width: 870px;
}

.sidebar {
	width: 270px;
	min-width: 200px;
}

@media (max-width: 829px) {
	.sidebar {
	/* display: none; */
	margin-left: 0 !important;
	position: fixed;
	top: 0;
	left: 0;
	bottom: 0;
	background-color: white;
	padding: 15px;
	box-shadow: 0px 0px 20px 4px rgb(0 0 0 / 37%);
	overflow-y: scroll;
	transform: translateX(-150%);
	transition: transform 0.3s ease-in;
	}
	
	.sidebar--mobile-active {
		transform: translateX(-0%);
	}
}

.main + .sidebar {
	margin-left: 30px;
}

/* Бургер кнопка */

.menu-icon-wrapper {
	width: 30px;
	height: 30px;
	display: flex;
	justify-content: center;
	align-items: center;
}

.menu-icon {
	position: relative;
	width: 30px;
	height: 5px;
	background-color: #ffffff;
	margin: 5px;
}

.menu-icon::before{
	position: absolute;
	left: 0;
	top: -10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
} 

.menu-icon::after {
	position: absolute;
	left: 0;
	top: 10px;
	content: '';
	width: 30px;
	height: 5px;
	background-color: #fff;
	transition: transform 0.2s ease-in, top 0.2s linear 0.2s;
}

.menu-icon.menu-icon-active {
	background-color: transparent;
}

.menu-icon.menu-icon-active::before {
	transform: rotate(45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}

.menu-icon.menu-icon-active::after {
	transform: rotate(-45deg);
	top: 0;
	transition: top 0.2s linear, transform 0.2s ease-in 0.2s;
}


.card_badges {
 	position: absolute;
	top: 10px;
	left: 15px;
	right: 15px;
	display: flex;
}

.card_badges > * + * {
	margin-left: 10px;
} 

.card_badge {
 display:inline-block ;
 border-radius: 4px;
 height: 22px;
 padding: 0 10px;
 font-size: 14px;
 line-height: 23px;
 color: rgb(0, 0, 0);
}

.cards-holder {
	display: flex;
	justify-content: space-between ;
	flex-wrap: wrap;
}

@media (max-width: 599px) {
	.cards-holder {
		flex-direction: column;
		align-items: center;
	}
}

.cards-holder > .card-link {
	margin-bottom: 30px;
}

.card-link--hidden {
	display: none !important;
}

a.card-link {
	display: inline-block;
	text-decoration: none;
	transition: all 0.2s ease-in;
}

a.card-link:hover {
	opacity: 0.8;
	transform: translateY(-5px);
}

.card {
	position: relative;
	width: 270px;
	background-color: rgba(255, 255, 255, 0.651);
	border-radius: 4px;
}


.card_badge--class {
 background: burlywood;
 border-radius: 4px;
}
.card_badge--credit {
background: rgb(141, 141, 140);
border-radius: 4px;
}

/* Наполнение карточки */

.card_content {
	padding: 16px 15px 20px;
}

.card_title {
	margin: 0;
	margin-bottom: 11px;
 font-size: 18px;
 font-weight: bold;
 line-height: 1.16;
 color: black;
}

.card_term {
	margin-bottom: 11px;
	font-size: 14px;
 line-height: 1.16;
 color: black;
}

.card_metro {
	margin-bottom: 11px;
	font-size: 14px;
	line-height: 1.14;
	color: black;
}

.card_metro::before {
	content: "";
	margin-right: 10px;
	display: inline-block;
	vertical-align:baseline;
	width: 16px;
	height: 11px;
	background-image: url('./../img/cards/metro.svg');
	background-size: initial;
	background-repeat: no-repeat;
}
.card_address {
	font-size: 14px;
	line-height: 1.14;
	color: rgb(168, 168, 168);
}


/* BTN */

.btn-more {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 80px;

	background: rgb(189, 188, 188);
	border-radius: 4px;
	border: none;

	padding-top: 26px;

	text-align: center;
	font-size: 18px;
	line-height: 21px;

	color: blue;
	cursor: pointer ;
}

.btn-more:hover {
	background: #b6b6b698;
}

.btn-more img {
	/* display: inline-block; */
	margin-right: 10px;
	/* vertical-align: bottom; */
}


/* .Widget  */

.widget_title--active::after {
	transform: rotate(180deg);
}

.widget_title {
	position: relative;
	font-weight: bold;
	font-size: 18px;
	line-height: 1.16;
	color: black;
	margin-bottom: 21px;
	cursor: pointer;
}

.widget_title::after {
	content: "";
	width: 20px;
	height: 20px;
	position: absolute;
	right: 1px;
	top: -1px;
	background-image: url('./../img/cards/chevron-up.svg');
	background-repeat: no-repeat;
	background-size: initial;
	background-position: center;
}

.widget_body {

}

.widget_body--hidden {
	display: none;
}


/* Location */

.location {

}

.location_row {
	display: flex;
	text-align: center;
}

.location_row:first-child {
	overflow: hidden;
 border-radius: 4px 4px 0 0 ;
 border: 1px solid #3c3c3c;
}

.location_row:last-child {
	border: 1px solid #3c3c3c;
	border-top: none;
	overflow: hidden;
	border-radius: 0px 0px 4px 4px;
}

.location_btn {
	flex-grow: 1;
	font-family: inherit;
	height: 48px;
	padding: 0 15px ;

	background-color: transparent;
	font-style: normal;
	border: none;

	font-weight: 500;
	font-size: 14px;
	line-height: 50px;
	color: #424242;
	cursor: pointer;
	transition: background-color 0.3 ease-in;
}

.location_btn:hover {
	background-color: rgba(146, 118, 65, 0.637);
}

.location_checkbox {
 width: 1px;
 height: 1px;
 position: absolute;
 opacity: 0;
 appearance: none;
}

.location_checkbox:checked + .location_btn {
	background-color: orange;
}

.location_checkbox:checked + .location_btn:hover {
	background-color: rgba(255, 166, 0, 0.514);
}

/* .location_btn--active {
	background-color: orange;
} */

.radio {
 display: block;
 cursor: pointer;
}

.radio + .radio {
	margin-top: 15px;
}


.radio__real {
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	appearance: none;
}

.radio__fake {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: #ffffff;
	border: 1px solid #777777;
	border-radius: 50%;
	margin-right: 7px;
	vertical-align: bottom;
}


.radio__real:checked + .radio__fake {
background-color: #ffe074
}

.radio__real:checked + .radio__fake::before {
	position: absolute;
	top: 50%;
	left: 50%;
	background: #3c3c3c;
	content: "";
	border-radius:50% ;
	width: 8px;
	height: 8px;
	transform: translate(-50%, -50%);
}

.radio__real:checked ~ .radio__title {
	font-weight: 600;
}

.radio__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	color: black;
}

.widget + .widget {
	margin-top: 33px;
}


.checkbox {
	display: block;
	cursor: pointer;
}

.checkbox--hidden {
	display: none;
}


.checkbox__real {
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	appearance: none;
}

.checkbox__fake {
	position: relative;
	display: inline-block;
	width: 20px;
	height: 20px;
	background-color: transparent;
	border: 1px solid #777777;
	border-radius: 2px;
	margin-right: 7px;
	vertical-align: bottom;
}

.checkbox__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	color: black;
}

.checkbox__real:checked + .checkbox__fake {
	background-color: #ffe074
}

	.checkbox__real:checked + .checkbox__fake::before {
		position: absolute;
		content: "";
		top: 50%;
		left: 50%;
		width: 18px;
		height: 18px;
		background-image: url('./../img/cards/check.svg');
		background-position: center;
		transform: translate(-50%, -50%);
}
	

	.checkbox + .checkbox {
		margin-top: 15px;
	}

	.widget__hidden {
		display: none;
	}

	.widget__show-hidden{
		padding: 0;
		color: 	rgb(99, 99, 243);
		font-weight: normal;
		font-style: normal;
		line-height: 1.19px;
		font-size: 16px;
		font-family: inherit;
		border: none;
		display: inline-block;
		background: transparent;
		transition: opacity 0.2s ease-in;
	}

	.widget__show-hidden:active, .widget__show-hidden::focus {
		outline: none;
	}

	.widget__show-hidden:hover {
		color: rgb(61, 61, 250);
		text-decoration: underline;
	}

	.widget__show-hidden + .widget__show-hidden {
		margin-top: 15px;
	}


	/* TOGGLE */

.widget--top-30 {
	margin-top: 30px !important;
}

.toggle {
	cursor: pointer;
}

.toggle__real {
	width: 1px;
	height: 1px;
	position: absolute;
	opacity: 0;
	appearance: none;
}

.toggle__fake {

 margin-right: 20px;
 position: relative;
 display: inline-block;
 width: 37px;
 height: 20px;
 background-color: #777777;
 border-radius: 10px;
 vertical-align: bottom;
}

.toggle__title {
	font-weight: 400;
	font-size: 16px;
	line-height: 1.18;
	color: black;
}

.toggle__real:checked + .toggle__fake {
	background-color: #ac974e
}

.toggle__real:checked + .toggle__fake::before {
	left: 20px;
	background-color: #00000091
}


.toggle__fake::before {
	position: absolute;
  top: 2px;
	left: 2px;
	content: "";
	width: 16px;
	height: 16px;
	background: #3c3c3c;
	border-radius: 50%;
	transition: all 0.15s ease-in;
	
}


.toggle__real:checked ~ .toggle__title {
	font-weight: 600;
}


/* Form buttons */

.form-btn {
	display: flex;
	justify-content: center;
	align-items: center;

	width: 100%;
	height: 50px;

	border: 1px solid rgb(153, 153, 153);
	border-radius: 4px;
	background-color: transparent;

	font-family: inherit;
	text-align: center;
	font-size: 16px;
	font-weight: normal;
	text-align: center;

	line-height: 1;
	cursor: pointer;
	transition: background-color 0.2s ease-in;
}


.form-btn:hover {
	background-color: rgb(133, 133, 133);
}

.form-btn img {
	/* display: inline-block; */
	margin-right: 6px;
	/* vertical-align: middle; */
	/* margin-top: -2px; */

}

.form-btn + .form-btn {
	margin-top: 10px;
}


.form-btn--submit {
	background-color: #ffe074;
	border: none;
	color: #00000091;
} 

.form-btn--submit:hover {
	background-color: #c2a84d;
}


/* Btn toggle sidebar */

.toggle-sidebar {
	display: none;
	position: fixed;
	z-index: 9;
	right: 15px;
	top: 5px;

	width: 40px;
	height: 40px;

	background-color: rgba(0, 0, 0, 0.651);
	border: none;
	padding: 0;
}


@media (max-width: 829px) {
	.toggle-sidebar {
		display: block;
	}
}

